<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yarn Database</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/datatables.min.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1hb6b8g5g0n3lOLo4y4gx5nU4w2f4Z+d5GDK6bj"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/datatables.min.js"
    ></script>
  </head>

  <body>
    <div class="container mt-5">
      <h1 class="text-center">Yarn Database</h1>
      <div class="entries-count container my-5 border rounded p-2 text-center">
        <form action="/filter" method="get" id="filterForm">
          <label for="column">Column:</label>
          <select id="column" name="column">
            <option value="weight_per_unit_length">Weight/Meters (g/m)</option>
            <option value="meterage">Meterage (Meters)</option>
            <option value="length_meters">Length (Meters)</option>
            <option value="weight_grams">Weight (Grams)</option>

            <!-- Add more options here for other columns -->
          </select>

          <label for="min_value">Minimum:</label>
          <input type="text" id="min_value" name="min_value" />

          <label for="max_value">Maximum:</label>
          <input type="text" id="max_value" name="max_value" />

          <input type="submit" value="Submit" />
        </form>
        <button class="btn btn-secondary mb-2" id="clearFiltersBtn">
          Clear Filters
        </button>
        <p id="entriesCount"></p>
      </div>

      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Weight (grams)</th>
            <th>Length (meters)</th>
            <th>Length (yards)</th>
            <th>Weight/Unit Length</th>
            <th>Colorway</th>
            <th>Skeins</th>
            <th>Meterage</th>
          </tr>
        </thead>
        <tbody>
          {% for item in yarns_colorways %}
          <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>{{ item[7] }}</td>
            <td>{{ item[8] }}</td>
            <td>{{ item[9] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      $(document).ready(function () {
        var table = $("#myTable").DataTable({
          paging: false, // Disable paging
        });

        var updateEntriesCount = function () {
          var entriesCount = table.rows({ search: "applied" }).count();
          var min = $("#min_value").val(); // Get the min_value input value
          var max = $("#max_value").val(); // Get the max_value input value
          var column = $("#column").val(); // Get the selected column value

          $("#entriesCount").text("Entries: " + entriesCount);
          $("#filterValues").text(
            "Column: " + column + ", Min: " + min + ", Max: " + max
          );
        };

        table.on("draw", function () {
          updateEntriesCount();
        });

        // Get the submitted min, max, and column values from the URL parameters
        var urlParams = new URLSearchParams(window.location.search);
        var min = urlParams.get("min_value") || "";
        var max = urlParams.get("max_value") || "";
        var column = urlParams.get("column") || "";

        // Set the min, max, and column values in the input fields and select field
        $("#min_value").val(min);
        $("#max_value").val(max);
        $("#column").val(column);

        // Submit the form when the min, max, or column value is changed
        $("#min_value, #max_value, #column").on("change", function () {
          $("#filterForm").submit();
        });

        updateEntriesCount();

        document
          .getElementById("clearFiltersBtn")
          .addEventListener("click", function (event) {
            // Prevent the form submission
            event.preventDefault();

            // Clear the filter inputs
            document.getElementById("column").value = "";
            document.getElementById("min_value").value = "";
            document.getElementById("max_value").value = "";

            // Replace the current history entry with the base URL
            var baseUrl =
              window.location.protocol + "//" + window.location.host + "/";
            history.replaceState({}, document.title, baseUrl);

            // Reload the page (or just the table if possible)
            location.reload();
          });
      });
    </script>
  </body>
</html>
